*{
    margin: 0;
    box-sizing: border-box;
}
:root{
  
    --primary-color:#282828 ;
    --white:#ffffff;
    --white-rgb: 255, 255, 255;
    --black: #000000;
    --black-rgb: rgb(18, 29, 35);
    --title-font:'Abril Fatface';
    --description-font:'Work Sans';
    --fs: 16px;
    --fw: 400px;
    --lh: 1.5;
    --gw: 15px;
}
body{
    background-image: url('../images/Landing\ Page\ UI\ ~\ Travel\ &\ Tours\ Agency\ \(Community\).png');
    color:#282828;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.5;
}
ul,ol{
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black-rgb);
}
img{
    max-width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;


}
h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-weight: 400;
}
.container{
    max-width: 1320px;
    padding-left: var(--gw);
    padding-right: var(--gw);
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw)); 
    margin-right: calc(-1 * var(--gw));
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding-left: var(--gw);
    padding-right: var(--gw);
} 
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-content: start;
}
.title{
    margin-bottom: 50px;
}
.title p{
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-family: var(--title-font);
    font-size: 18px;
    margin-top: 20px;
color: #CECECE;
}
.title h2{
    font-family: var(--description-font);
    font-size: 44px;
    line-height: 1;
    margin-bottom: 50px;
}
.top-bar{
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--white);
    background-image: url('../images/');
}
.social-icon ul, .site-info ul , .nav-bar-details ul{
    display: flex;
    column-gap: 20px;
}
.social-icon ul li a i , .site-info ul li a i  {
   color: var(--white);
   transition: all 0.5s ease;
  font-size: 24px;
}
.site-info ul li a i  {
   color: var(--white);
   transition: all 0.5s ease;
  font-size: 18px;  
}
.site-info ul li a{
display: flex;  
column-gap: 5px;
}
.site-info ul li a span {
   color: var(--white);
   font-size: 12px;
font-family: var(--description-font);
font-weight: 300;
   transition: all 0.5s ease;
}
.social-icon ul li a i:hover , .site-info ul li a span:hover , .nav-bar-details ul li a:hover{
   color: var(--black);
}
.nav-bar-details ul{
column-gap: 30px;
}
.nav-bar-details ul li a{
color: var(--white);
font-family: var(--description-font);
transition: all 0.5s ease;

}
.nav-bar{
    border-bottom: 1px solid var(--white);
    padding-bottom: 40px;
}