*{
    margin: 0;
    box-sizing: border-box;
}
:root{
  
    --primary-color:rgb(0, 153, 163);
    --white:#ffffff;
    --white-rgb: 255, 255, 255;
    --black: #000000;
    --black-rgb: rgb(18, 29, 35);
    --primary-title-font:'Abril Fatface';
    --secondary-title-font:'Grape Nuts';
    --description-font:'Work Sans';
    --terniary-font:'Alegreya Sans';
    --fs: 16px;
    --fw: 400px;
    --lh: 1.5;
    --gw: 15px;
}
body{
    background-image: url('../images/Landing\ Page\ UI\ ~\ Travel\ &\ Tours\ Agency\ \(Community\).png');
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.5;
}
ul,ol{
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black-rgb);
}
img{
    max-width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;


}
h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-weight: 400;
}
.container{
    max-width: 1320px;
    padding-left: var(--gw);
    padding-right: var(--gw);
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw)); 
    margin-right: calc(-1 * var(--gw));
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding-left: var(--gw);
    padding-right: var(--gw);
} 
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-content: start;
}
.title{
    margin-bottom: 50px;
}
.title p{
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-family: var(--primary-title-font);
    font-size: 18px;
    margin-top: 20px;
color: #CECECE;
}
.title h2{
    font-family: var(--description-font);
    font-size: 44px;
    line-height: 1;
    margin-bottom: 50px;
}
.top-bar{
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--white);
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    
}
.social-icon ul{
  
}
.social-icon ul, .site-info ul , .nav-bar-details ul , .booking-zone ul{
    display: flex;
    column-gap: 20px;
}
.social-icon ul li a i , .site-info ul li a i  {
   color: var(--white);
   transition: all 0.5s ease;
  font-size: 24px;
}
.site-info ul li a i  {
   color: var(--white);
   transition: all 0.5s ease;
  font-size: 18px;  
}
.site-info ul li a{
display: flex;  
column-gap: 5px;
}
.site-info ul li a span {
   color: var(--white);
   font-size: 12px;
font-family: var(--description-font);
font-weight: 300;
   transition: all 0.5s ease;
}
.social-icon ul li a i:hover , .site-info ul li a span:hover , .nav-bar-details ul li a:hover{
   color: var(--black);
}
.nav-bar{
    border-bottom: 1px solid var(--white);
    padding-bottom: 40px;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 7%;
}
.nav-bar-details ul{
column-gap: 30px;
}
.nav-bar-details ul li a{
color: var(--white);
font-family: var(--description-font);
transition: all 0.5s ease;

}
/* hero-sec */
.Hero-full-sec{
    background-image: url('../images/hero-bg.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;
    z-index: -1;
}
.hero-heading{
    margin-top: 230px;
    text-align: center;
    line-height: 1;
}
.hero-heading h1{
    color: var(--white);
    font-family: var(--primary-title-font);
    font-size: 48px;
    
}
.hero-heading p{
    color: var(--white);
    font-family: var(--secondary-title-font);
    font-size: 32px;
    font-weight: 600;
}
.booking-details{
    padding-top: 120px;
}
.booking-zone{
    display: flex;
    justify-content: center;
}
.booking-zone ul{
    width: 271px;
    height: 50px;
    background-color: var(--primary-color);
justify-content: center;
align-items: center;
}
.booking-zone ul li a{
    color: var(--white);
    font-family: var(--description-font);
}
.booking-zone ul li a:focus{
text-decoration: underline;

}
.booking-description{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.booking-description ul{
    display: flex;
    align-items: center;
    width: 662px;
    height:68px;
    background-color: rgb(255, 255, 255,0.9);
    padding: 15px;  
}
.booking-description ul li a{
    font-family: var(--terniary-font);
    font-size: 14px;
    padding-left: 5px;
}
.booking-description ul li a span{
    padding-right: 30px;
    color: #4B4B4B;
}

.booking-description ul li{
    padding-left: 5px;
    border-right: 1px solid rgb(199, 199, 199); 
}
.booking-description ul li a i{
padding-right: 5px;
}
/* popular-destinations */
.popular-destinations{

}
.destination-full-sec{
    margin: 100px 15px;
}
.heading h2{
    font-family: var(--secondary-title-font);
    font-size: 40px;
    color: var(--black);
    text-align: center;
}
.places-details{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.places-details div{
     width: 230px;
     padding-bottom: 10px;
background-color: var(--white);
}   
.places-details div h3{
color: var(--black);
font-size: 14px;
font-family: var(--secondary-title-font);
}
.places-details div p{
color: var(--black);
font-size: 10px;
font-family: var(--description-font);
font-weight:200;
}
.places-details div h3,p{
padding-left: 20px;

}
.places-details div p{
line-height: 0.5;

}
.img img {
object-fit: cover;
    margin-bottom: 5px; 
    margin-top: 0;
}
.places-details div span {
color: var(--black);
font-size: 20px;
padding-left: 20px;
}



