*{
    margin: 0;
    box-sizing: border-box;
}
:root{
  
    --primary-color:rgb(0, 153, 163);
    --white:#ffffff;
    --white-rgb: 255, 255, 255;
    --black: #000000;
    --black-rgb: rgb(18, 29, 35);
    --primary-title-font:'Abril Fatface';
    --secondary-title-font:'Grape Nuts';
    --description-font:'Work Sans';
    --terniary-font:'Alegreya Sans';
    --footer-font:'Allison';
    --fs: 16px;
    --fw: 400px;
    --lh: 1.5;
    --gw: 15px;
}
body{
    background-image: url('../images/Landing\ Page\ UI\ ~\ Travel\ &\ Tours\ Agency\ \(Community\).png');
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.5;
}
ul,ol{
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black-rgb);
}
img{
    max-width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;


}
h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-weight: 400;
}
.container{
    max-width: 1320px;
    padding-left: var(--gw);
    padding-right: var(--gw);
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw)); 
    margin-right: calc(-1 * var(--gw));
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding-left: var(--gw);
    padding-right: var(--gw);
} 
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-content: start;
}

.top-bar{
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--white);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
}
.social-icon ul, .site-info ul , .nav-bar-details ul , .booking-zone ul{
    display: flex;
    column-gap: 20px;
}
.social-icon ul li a i , .site-info ul li a i  {
   color: var(--white);
   transition: all 0.5s ease;
  font-size: 24px;
}
.site-info ul li a i  {
   color: var(--white);
   transition: all 0.5s ease;
  font-size: 18px;  
}
.site-info ul li a{
display: flex;  
column-gap: 5px;
}
.site-info ul li a span {
   color: var(--white);
   font-size: 12px;
font-family: var(--description-font);
font-weight: 300;
   transition: all 0.5s ease;
}
.social-icon ul li a i:hover , .site-info ul li a span:hover , .nav-bar-details ul li a:hover{
   color: var(--black);
}
.nav-bar-details ul{
column-gap: 30px;
}
.nav-bar-details ul li a{
color: var(--white);
font-family: var(--description-font);
transition: all 0.5s ease;

}
.nav-bar{
    border-bottom: 1px solid var(--white);
    padding-bottom: 40px;
    width: 100%;
    top: 8%;
    position: absolute;
    z-index: 1;
}
/* hero-sec */
.Hero-full-sec{
    background-image: url('../images/hero-bg.png');
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    background-size:cover;
}
.hero-heading{
    margin-top: 200px;
    text-align: center;
    line-height: 1;
}
.hero-heading h1{
    color: var(--white);
    font-family: var(--primary-title-font);
    font-size: 48px;
    
}
.hero-heading p{
    color: var(--white);
    font-family: var(--secondary-title-font);
    font-size: 32px;
    font-weight: 600;
}
.booking-details{
    margin-top: 80px;
}
.booking-zone{
    display: flex;
    justify-content: center;
}
.booking-zone ul{
    width: 271px;
    height: 50px;
    background-color: var(--primary-color);
justify-content: center;
align-items: center;
}
.booking-zone ul li a{
    color: var(--white);
    font-family: var(--description-font);
}
.booking-zone ul li a:focus{
text-decoration: underline;

}
.booking-description{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.booking-description ul{
    display: flex;
    align-items: center;
    width: 662px;
    height:68px;
    background-color: rgb(255, 255, 255,0.9);
    padding: 15px;  
}
.booking-description ul li a{
    font-family: var(--terniary-font);
    font-size: 14px;
    padding-left: 5px;
}
.booking-description ul li a span{
    padding-right: 30px;
    color: #4B4B4B;
}

.booking-description ul li{
    padding-left: 5px;
    border-right: 1px solid rgb(199, 199, 199); 
}
.booking-description ul li a i{
padding-right: 5px;
}
/* popular-destinations */
.destination-full-sec{
    margin: 100px 15px;
}
.heading h2{
    font-family: var(--secondary-title-font);
    font-size: 40px;
    color: var(--black);
    text-align: center;
}
.places-details{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.places-details div{
     width: 230px;
     padding-bottom: 10px;
background-color: var(--white);
}   
.places-details div h3{
color: var(--black);
font-size: 14px;
font-family: var(--secondary-title-font);
}
.places-details div p{
color: var(--black);
font-size: 10px;
font-family: var(--description-font);
font-weight:200;
}
.places-details div h3,p{
padding-left: 20px;

}

.venue p{
line-height: 1;

}
.img img {
object-fit: cover;
    margin-bottom: 5px; 
    margin-top: 0;
}
.info .venue-price{
width: 110px;
line-height: 1.2;
}
.info .venue-price span {
color: var(--black);
font-size: 20px;
font-weight: 100;
font-family: var(--description-font);
display: flex;
justify-content: center;

}
.info .venue-price p{
font-size: 6px;
font-weight: 100;
font-family: var(--description-font);
text-align: right;
}
.info{
    display:flex ;
}
/* img-section */
.img-section{
    background-image: url('../images/img-section.png');
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}
.angle-right {
 position: absolute;
 top: 50%;
 left: 50%;
}
.angle-right .center-circle{
    border: 4px solid var(--white);
}
.center-circle , .center-circle-2{
    width: 117px;
    height: 117px;
    border: 1px solid var(--white);
    border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.center-circle a i , .center-circle-2 a i{
    color: var(--white);
    font-size: 60px;
    transition: all 0.5s ease;
}
.center-circle a i:hover , .center-circle-2 a i:hover{
    color: var(--black);
}

/* why-us */

.why-us-full-sec{
    padding: 120px 0px;
}
.why-us-full-sec .heading {
padding-bottom: 30px;
}
.why-us-full-sec .heading h1 ,  .Have-an-Adventure-Today .heading h1{
font-family: var(--secondary-title-font);
font-size: 40px;
text-align: center;
color: var(--black);
}
.why-us-full-description{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}
.why-us-detail{
    width: 288px;
    height: 297px;
    background-color: rgb(255, 255, 255,0.5);
    padding:40px 15px;
    text-align: center;
}
.why-us-detail .img{
    
    justify-content: center;
    display: flex;
}
.why-us-info h2{
padding-bottom: 15px;
color: var(--black);
font-size: 20px;
font-family: var(--primary-title-font);
font-weight: 500;
}
.why-us-info p{
padding-bottom: 15px;
color: var(--black);
font-size: 20px;
font-family: var(--description-font);
font-weight: 200;
line-height: 1.2;
}
.why-us-detail .img img{
     width: 27px;
    height: 27px;
}
/* Have-an-Adventure-Today */
.Have-an-Adventure-full-sec 
.adventures-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 50px;
}
.adventure2-3 , .adventure4-5{
    display: flex;
    flex-direction: column;
  row-gap: 50px;
}
.adventures{
    width: 347px;
    height: 461px;
    position: relative;
    z-index: 1;
}
.adventures-2 , .adventures-3 , .adventures-4 , .adventures-5{
    width: 294px;
    height: 208px;
    position: relative;
    z-index: 1;
}
.adventures .img img{
    width: 347px;
    height: 461px;
}
.adventures2-3 .img img , .adventure4-5 .img img{
  margin: 0;
}
.canal-cruise{
    width: 245x;
    height: 91px;
    background-color: rgb(255, 255, 255,0.7);
    padding: 30px 10px;
  
    
}   
.canal-cruise h2 , .sailing h2  , .Hiking h2, .Camping h2, .Scuba-Diving h2{
 padding-left: 20px;
 font-size: 14px;
 font-family: var(--secondary-title-font);
 color: var(--black);
 font-weight: 600;
}   
.canal-cruise p  , .sailing p  , .Hiking p, .Camping p, .Scuba-Diving p{
 padding-left: 20px;
 font-size: 10px;
 font-family: var(--description-font);
 color: var(--black);
 font-weight: 200;
}   
.bottom-part .center-circle, .bottom-part-2 .center-circle{
    width: 43px;
    height: 43px;
    margin-left: 15px;
}
.bottom-part .center-circle-2 , .bottom-part-2 .center-circle-2{
    width: 23px;
    height: 23px;
    margin-left: 15px;
}
.bottom-part .center-circle a i , .bottom-part-2 .center-circle a i{
    font-size: 15px;
}
.bottom-part .center-circle-2 a i , .bottom-part-2 .center-circle-2 a i{
    font-size: 10px;
}
.bottom-part ,.bottom-part-2{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0%;
    z-index: 2;

}
.sailing , .Hiking , .Camping , .Scuba-Diving{
    width: 239px;
    height: 70px;
    background-color: rgb(255, 255, 255,0.7);
    padding: 15px 0px;
}
/* .Award-Winning */
.Award-Winning{
    padding: 120px 0px;
    margin: 0px 50px;
}
.newsletter{
    width: 477px;
    height: 538px;
    padding: 100px 0px;
    background-color: rgb(255, 255, 255,0.6);
    text-align: center;
    margin-left: 40px;
}
.newsletter h1{
    color: var(--black);
    font-family: var(--primary-title-font);
    margin-bottom: 15px;
}
.newsletter p{
    font-size: 20px;
    color: var(--black);
    font-weight: 300;
    font-family: var(--description-font);
    margin-bottom: 15px;
    line-height: 1;

}
.newsletter h3{
    font-size: 16px;
    color: var(--black);
    font-weight: 300;
    font-family: var(--description-font);
    margin-top: 50px;
    padding-top: 50px;
    transition: all 0.5s ease;

}
.rectangle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.rectangle img{
    width: 351px;
    height: 43px;
}
.newsletter a:hover h3{
    color: red;
}
.achievement h2{
    font-family: var(--secondary-title-font);
    font-size: 40px;
    color: var(--black);
}
.achievement p{
    font-family: var(--description-font);
    font-size: 20px;
    color: var(--black);
    font-weight: 200;
    padding-left: 0;
    line-height: 1;
}
.status, .status-full-sec{
    display: flex;
    margin-top: 30px;
}
.status .img img{
    width: 125px;
    height: 115px;
}
.status-detail {
   padding: 25px 15px;
}
.status-detail h4 , .status-detail p{
    font-family: var(--terniary-font);
    font-size: 12px;
    color: var(--black);
    padding-bottom: 10px;
    font-weight: 500;
}
.status-detail p{
  font-weight: 300;
}
/* Looking for an experience? */
.experience{
    background-color: rgb(255, 255, 255,0.6);
    padding: 80px 0;
    

}
.experience-full-sec{
    color: var(--black);
}
.experience-full-sec h2{
    text-align: center;
    font-size: 40px;
    font-family: var(--secondary-title-font);
    font-weight: 600;
}
.experience-full-sec p{
    font-family: var(--description-font);
    font-size: 20px;
    justify-content: center;
    font-weight: 300;
    display: flex;
}
.VIEW-PACKAGES{
width: 107px;
height: 24px;
background-color: var(--primary-color);
display: flex;
justify-content: center;
transition: all 0.5s ease;
}
.package-offer{
    width: 900px;
    display: flex;
    justify-content: end;
    
}
.VIEW-PACKAGES span{
    font-size: 10px;
font-family: var(--description-font);
color: var(--white);
}
.VIEW-PACKAGES:hover{
    background-color: var(--black);
}
/* footer */
.footer-full-sec{
    padding-top: 80px;
}
.star-travels .img img{
    width: 217px;
    height: 165px;
}
.star-travels{
    display: flex;
    justify-content: center;
}:last-child
.star-travels-logo h2{
font-family: var(--footer-font);
font-size: 128px;
color: var(--black);
}
..footer-info{
    margin-top: 20px;
}
.footer-info ul{
    display: flex;
    justify-content: center;
    column-gap: 80px;
}
.footer-info ul li a{
    color: var(--black);
    font-family: var(--description-font);
    font-size: 16px;
}
.copy-right{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.copy-right span{
font-family: var(--description-font);
font-size: 12px;
color: var(--black);
font-weight: 300;
}

